<h1>Sign In</h1>

<form action="<%= session_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Username
        <input name="user[username]">
    </label>

    <label>Password
        <input type="password" name="user[password]">
    </label>

    <button>Submit</button>
</form>

    <br><br><br>

<form action="<%= new_user_url %>" value="GET">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button value="submit">Sign Up</button>
 </form>


